body {
  background-color: #d3d3d3;
  font-family: Georgia, serif;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  padding: 5px;
  border: 1px solid #aaa;
}

.search-button {
  padding: 5px 10px;
  border: 1px solid #4a90e2;
  background-color: #e6f0ff;
  cursor: pointer;
}
.container {
  display: flex;
}

/* Lista de favorritos izquierda */
.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #9898bc;
  color: white;
  padding: 20px;
  margin: 15px;
}

.sidebar h2 {
  margin-top: 0;  
  margin-bottom: 15px;
}
.sidebar .favorites-list li {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.favorites-list {
  list-style: none;
  padding: 0;
}

.favorite-img {
  width: 70px;     
  height: 70px;       
  object-fit: cover; 
  flex-shrink: 0; 
}

.favorites-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin-bottom: 8px;
  background-color: #2e2e4d;
}

.favourite {
  background-color: #ffcc00; /* O el color que quieras */
}

/* Lista de resultados */

.layout {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
}

.results {
  list-style: none;
  display: grid;
  padding-left: 0px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Tarjeta de serie */

.series-layout {
  margin-top: 0;
}

.series-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  margin-bottom: 20px;
  padding: 15px;
}

.series-img {
  width: 150px;
  height: auto;
}

.series-title {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
}
